@page
@model MarketPlace.Pages.Admin.Licesis.IndexModel

@{
    ViewData["Title"] = "صفحه اصلی";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    @await Component.InvokeAsync("SideBarAdmin")
                </div>

                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content">

                        <p>
                            <a asp-page="Create">ایجاد کردن</a>
                        </p>
                        <div>
                            <div>
                                <table>
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                @Html.DisplayNameFor(model => model.License[0].ImageName)
                                            </th>
                                            <th scope="col">
                                                @Html.DisplayNameFor(model => model.License[0].Href)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model.License)
                                        {
                                            <tr>
                                                <td scope="row" data-label="@Html.DisplayNameFor(model => model.License[0].ImageName)">@Html.DisplayFor(modelItem => item.ImageName)</td>
                                                <td data-label="@Html.DisplayNameFor(model => model.License[0].Href)">@Html.DisplayFor(modelItem => item.Href)</td>
                                                <td>
                                                    <a asp-page="./Edit" asp-route-id="@item.Id">ویرایش</a> |
                                                    <a asp-page="./Details" asp-route-id="@item.Id">جزئیات</a> |
                                                    <a asp-page="./Delete" asp-route-id="@item.Id">حذف</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
