@page
@model MarketPlace.Pages.Admin.Blogs.DeleteModel

@{
    ViewData["Title"] = "پاک کردن";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    @await Component.InvokeAsync("SideBarAdmin")
                </div>

                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content">
                        <h2>پاک کردن بلاگ</h2>

                        <h3>آیا از پاک کردن این بلاگ مطمئن هستین ؟</h3>
                        <div>
                            <h4>بلاگ</h4>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Blog.Title)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Blog.Title)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Blog.Writer)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Blog.Writer)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Blog.ShortDescription)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Blog.ShortDescription)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Blog.Text)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Blog.Text)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Blog.ImageName)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Blog.ImageName)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Blog.IsDelete)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Blog.IsDelete)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Blog.CreateDate)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Blog.CreateDate.ToShamsiDateTime())
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Blog.LastUpdateDate))
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Blog.LastUpdateDate.ToShamsiDateTime())
                                </dd>
                            </dl>

                            <form method="post">
                                <input type="hidden" asp-for="Blog.Id" />
                                <input type="submit" value="Delete" class="btn danger" /> |
                                <a asp-page="./Index">برگشت به لیست</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
