@page
@model MarketPlace.Pages.Admin.Sliders.DetailsModel

@{
    ViewData["Title"] = "جزئیات";
     Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    @await Component.InvokeAsync("SideBarAdmin")
                </div>

                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content">

<h2>جزئیات</h2>

<div>
    <h4>Slider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Slider.MainHeader)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Slider.MainHeader)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Slider.SecondHeader)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Slider.SecondHeader)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Slider.ImageName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Slider.ImageName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Slider.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Slider.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Slider.Link)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Slider.Link)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Slider.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Slider.IsActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Slider.IsDelete)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Slider.IsDelete)
        </dd>
   
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Slider.Id">ویرایش</a> |
    <a asp-page="./Index">برگشت به صفحه اصلی</a>
</div>
        </div>
                </div>
            </div>
        </div>
    </div>
</section>
